# Git
.git
.gitignore
.gitattributes

# Dependencies
/vendor
/node_modules

# Environment files
.env
.env.backup
.env.production

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel specific
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.phpunit.result.cache

# Build artifacts
/public/hot
/public/storage
/public/build

# Documentation
README.md
